/* Home Section */
.vd-tbdr{
    border: 1px solid black;
}
.home-img-sec{
    min-height: 775px;
    background-image: url('../img/header-img.jpg');
    box-shadow: 0px 5px 5px 2px lightgray;
}
.home-img-heading{
    font-size: 4rem;
}
.home-about-sec{
    min-height: 570px;
}
.home-about-img > img{
    border: 5px solid black;
}
.more-btn > a{
    color: green !important;
}
.more-btn > a:focus,.more-btn > a:hover{
    color: white !important;
}
.home-fav-sec{
    min-height: 565px;
    background-image: linear-gradient(#000000b3,#000000b3)
    ,url('https://reactclonerestaurant.vercel.app/static/media/menu-img.3aaacc0dcb9f62d15929.jpg');
    background-size:cover;
}
.fav-list{
    font-size: 1.5rem;
}
.sec-black{
    background-color: black;
}
.sec-white{
    background-color: white;
}
.gallery{
    min-height: 1225px;
}
.gallery > h1{
    height: 10%;
    line-height: 100px;
}
.gallery > div{
    height: 89%;
}
.img-border{
    border: 4px solid black;
}
.home-find-sec{
    min-height: 600px;
    background-color: #212529;
}
.findus-img{
    border: 3px solid white;
}

/* Menu Section */
.menu-bg{
    background-image: linear-gradient(#3e3e3eb3,#3e3e3eb3)
    ,url('https://reactclonerestaurant.vercel.app/static/media/menu-img.3aaacc0dcb9f62d15929.jpg');
    background-size:cover;
    min-height: 410px;
}
.menu-bg > h1{
    font-size: 4rem;
}
.menu-img{
    min-height: 1050px;
}
.white{
    color: white !important;
}
.black{
    color: black !important;
}

@media screen and (max-width: 991px) {
    .home-img-sec{
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .home-about-img > img {
        display: none;
    }
}
