/* Home Section */
.vd-tbdr {
    border: 1px solid black;
}

.home-img-sec {
    min-height: 775px;
    background-image: url('../img/header-img.jpg');
    box-shadow: 0px 5px 5px 2px lightgray;
}

.home-img-heading {
    font-size: 4rem;
}

.home-about-sec {
    min-height: 570px;
}

.home-about-img>img {
    border: 5px solid black;
}

.more-btn>a {
    color: green !important;
}

.more-btn>a:focus,
.more-btn>a:hover {
    color: white !important;
}

.home-fav-sec {
    min-height: 565px;
    background-image: linear-gradient(#000000b3, #000000b3), url('https://reactclonerestaurant.vercel.app/static/media/menu-img.3aaacc0dcb9f62d15929.jpg');
    background-size: cover;
}

.fav-list {
    font-size: 1.5rem;
}

.sec-black {
    background-color: #212529;
}

.sec-white {
    background-color: white;
}

.gallery {
    min-height: 1225px;
}

.gallery>h1 {
    height: 10%;
    line-height: 100px;
}

.gallery>div {
    height: 89%;
}

.img-border {
    border: 4px solid black;
}

.home-find-sec {
    min-height: 600px;
}

.findus-img {
    border: 3px solid white;
}

/* Menu Section */
.menu-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    min-height: 410px;
}

.menu-bg-img {
    background-image: linear-gradient(#3e3e3eb3, #3e3e3eb3), url('https://reactclonerestaurant.vercel.app/static/media/menu-img.3aaacc0dcb9f62d15929.jpg');
}

.menu-bg>h1 {
    font-size: 4rem;
}

.menu-img {
    min-height: 1050px;
}

.white {
    color: white !important;
}

.black {
    color: black !important;
}

/* About Section */
.about-bg-img {
    background-image: linear-gradient(#3e3e3eb3, #3e3e3eb3), url('https://reactclonerestaurant.vercel.app/static/media/about-page-img.6b438d71a8290df479ab.jpg');
}
.about-content-sec{
    min-height: 900px;
}
.about-img-border{
    border: 4px solid black;
}
.review-sec{
    min-height: 800px;
}
.rev-div{
    min-height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px lightgray;
}
.rvwprofile{
    min-height: 125px;
}

/* Contact Section */
.contact-bg-img {
    background-image: linear-gradient(#3e3e3eb3, #3e3e3eb3), url('https://reactclonerestaurant.vercel.app/static/media/contact-page-img.b1154d82ac00c9d492f2.jpg');
}
.contact-find-sec{
    min-height: 600px;
}

@media screen and (max-width: 991px) {
    .home-img-sec {
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .home-about-img>img {
        display: none;
    }
}